@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Item Store</h1>
    <p>
        This API is used for checking, editing and changing the items, stores and staff. 
        You can edit each respective record and view which the items and staff are at which store.
    </p>
</div>
