@page
@model Ryan_Wong_AS91892.Pages.Stores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Store.Location)
        </dt>
        <dd class=" = col-sm-10">
            @Html.DisplayFor(Model => Model.Store.Location)
        </dd>


        <dt class="col-sm-2">
           Staff
        </dt>
        
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Staff</th>
                </tr>
                @foreach (var item in Model.Store.Staffs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                    </tr>
                }
            </table>
        </dd>


        <dt class="col-sm-2">
              Items
        </dt>
        
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Items</th>
                </tr>
                @foreach (var item in Model.Store.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>